

  .search-text {
    width: 40%;
    padding-bottom: 50px;
    display: inline-flex;
  }
  .search-select {
    width: 100%;
    padding-bottom: 50px;
    display: inline-flex;
  }
.example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }